.alert {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert > div {
  width: 80%;
  height: auto;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin: 60px auto auto;
}

.alert > div > div {
  padding: 16px;
  box-sizing: border-box;
}

.alert_top {
  width: 100%;
  background-color: purple;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.alert_contents button {
  margin: 0 auto;
  position: relative;
  right: 0;
}
